<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="FrameworkExtensions" version="1.0.0.926" targetFramework="net40" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net40" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.2.0.0" targetFramework="net40" />
  <package id="Ninject.Extensions.Factory" version="3.2.1.0" targetFramework="net40" />
  <package id="OpenCvSharp3-AnyCPU" version="3.1.0.20160316" targetFramework="net40" />
</packages>